.thumbpick-icon{
	display:inline-block;
}
.thumbpick-icon-img{
	width:65px;
	height:50px;
	cursor:pointer;
	border-bottom:2px solid transparent;
}
.thumbpick-icon-img:hover{
	width:65px;
	height:50px;
	border-bottom:2px solid black;
}
.thumbpick-browser-root-pane{
	position:relative;
}
.thumbpick-browser-left-column{
	width:70px;
	padding-right:5px;
	float:left;
	border-right:1px solid black;
}
.thumbpick-browser-main-column{
	margin-left:80px;
}
.thumbpick-browser-footer{
	clear:both;
	height:0;
}
.thumbpick-browser-pane{
	width:95%;
	height:200px;
	overflow:auto;
	border:1px #AAAAAA solid;
}